@model WebApp.Models.ParkingViewModel
@{
    ViewBag.Title = "Таблица парковки";
}
<script>
    function SetSession() {
        sessionStorage.setItem("carnumber", $("#1 option:selected").val());
        sessionStorage.setItem("type", $("#2 option:selected").val());
    }
    function GetSession() {
        $("#1").val(sessionStorage.getItem("carnumber"));
        $("#2").val(sessionStorage.getItem("type"));
</script>

<body onbeforeunload="SetSession()" onload="GetSession()">
    <H1>@ViewBag.Title:</H1>
    <form method="get">
        <div>
            <label class="control-label">Номер автомобиля:&nbsp;</label>
            <select name="carnumber" id="1" class="form-control">
                @foreach (var elem in Model.CarsNumbers)
                {
                    <option>@elem</option>
                }
            </select>
        </div>
        <div>
            <label class="control-label">Тип парковки:&nbsp;</label>
            <select name="type" id="2" class="form-control">
                @foreach (var elem in Model.TypeParkingsFiltr)
                {
                    <option>@elem</option>
                }
            </select>
        </div>
        <br />
        <div>
            <input type="submit" style="border-color:black;" value="Фильтр" class="btn btn-default" />
        </div>
    </form>
    <br />
    <div>
        <table border="1">
            <thead>
                <tr>
                    <td>
                        Id
                    </td>
                    <td>
                        Тип парковки
                    </td>
                    <td>
                        Дата въезда
                    </td>
                    <td>
                        Дата выезда
                    </td>
                    <td>
                        Номер автомобиля
                    </td>
                    <td>
                        Стоимость
                    </td>
                </tr>
            </thead>
            @foreach (var elem in Model.Parkings)
            {
                <tr>
                    <td>
                        @elem.Id
                    </td>
                    <td>
                        @elem.TypeParking
                    </td>
                    <td>
                        @elem.Dateentry
                    </td>
                    <td>
                        @elem.Datedeparture
                    </td>
                    <td>
                        @elem.CarsNumber
                    </td>
                    <td>
                        @elem.Price
                    </td>
                </tr>
            }
        </table>
    </div>
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-outline-dark">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           class="btn btn-outline-dark">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
    @if (User.IsInRole("Администратор") || User.IsInRole("Работник"))
    {
        <div>
            @Html.ActionLink("Добавить запись", "AddParking", "Parking")
            @Html.ActionLink("Удалить запись", "DeleteParking", "Parking")
            @Html.ActionLink("Изменить запись", "UpdateParking", "Parking")
        </div>
    }
</body>