@model List<WebApp.Models.CarViewModel>
@{
    ViewBag.Title = "Таблица машин";
}

@ViewBag.Title
:
<div>
    <table border="1">
        <thead>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    Марка автомобиля
                </td>
                <td>
                    Номер автомобиля
                </td>
                <td>
                    ФИО владельца
                </td>
            </tr>
        </thead>
        @foreach (var elem in Model)
        {
            <tr>
                <td>
                    @elem.Id
                </td>
                <td>
                    @elem.Carbrands
                </td>
                <td>
                    @elem.Numberofthecar
                </td>
                <td>
                    @elem.OwnersFIO
                </td>
            </tr>
        }
    </table>
</div>
