@model WebApp.Models.OwnerUpdateViewModel
<h3>
    Изменение записи
</h3>
@using (Html.BeginForm("UpdateOwner", "Owner", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.Id)
        <div class="col-md-10">
            <select name="Id">
                @foreach (var id in Model.IdList)
                {
                    <option>@id</option>
                }
            </select>
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.Fio)
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Fio)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.NameFone)
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NameFone)
        </div>
    </div>
    <div>
        <div>
            <input type="submit" class="btn btn-default" value="Изменить" />
        </div>
    </div>
}

