@model WebApp.Models.CarAddViewModel
<h3>
    Добавление записи
</h3>
<hr />
@using (Html.BeginForm("AddCar", "Car", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.Carbrands)
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Carbrands)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.Numberofthecar)
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Numberofthecar)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.OwnersFIO)
        <div class="col-md-10">
            <select name="OwnersFIO">
                @foreach (var name in Model.OwnerFIOs)
                {
                    <option>@name</option>
                }
            </select>
        </div>
    </div>
    <div>
        <div>
            <input type="submit" class="btn btn-default" value="Добавить" />
        </div>
    </div>
}
