@model List<WebApp.Models.ParkingViewModel>
@{
    ViewBag.Title = "Таблица мебели";
}

@ViewBag.Title
:
<div>
    <table border="1">
        <thead>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    Тип парковки
                </td>
                <td>
                    Дата въезда
                </td>
                <td>
                    Дата выезда
                </td>
                <td>
                    Номер автомобиля
                </td>
                <td>
                    Стоимость
                </td>
            </tr>
        </thead>
        @foreach (var elem in Model)
        {
            <tr>
                <td>
                    @elem.Id
                </td>
                <td>
                    @elem.TypeParking
                </td>
                <td>
                    @elem.Dateentry
                </td>
                <td>
                    @elem.Datedeparture
                </td>
                <td>
                    @elem.CarsNumber
                </td>
                <td>
                    @elem.Price
                </td>
            </tr>
        }
    </table>
</div>
